@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");
.body1 {
  background-color: none;
  font-family: $headers-font;
  margin: 0;
  height: 100vh;
}

.container-card {
 background-color: #B2C7DF;
 padding: 10px;
 margin: 20px;
 border-radius: 10px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-text {
  text-align: center;
  padding: 20px;
}


.margin-txt {
  margin-top: 9px;
}

.row-margin {
  margin-top: 35px;
}

.img1 {
  width: 120px;
}
.img2 {
  width: 120px;
}
.img3 {
  width: 120px;
}

.name {
 display: inline;
}

p {
  font-family: "PT Sans";
}

h1{
  font-family: "Josefin Sans";
}
