
.img1 {
  left: 35px;
  top: 241px;
  width: 155px;
}
.img2 {
  left: 34px;
  top: 239px;
  width: 150px;
}
.img3 {
  left: 31px;
  top: 231px;
  width: 160px;
}

.text {
  width: 576px;
  text-align: justify;
  justify-content: center;
}
