.form1 {
  background-color: #B2C8DF;

  padding: 20px;
    border-radius: 10px;
}

.padd8 {
  padding: 80px;
}

.forminside {
  display: flex;
  align-items: center;
}

.labelsignup {
  margin-bottom: 0;
  margin-right: 12px;
}


.btn-colors1 {

  border-radius: 19px;
}
