.navbar-color {
  background-color: #6E85B7;
  height: 120px;
}

.search-navbar {
  background-color: white;
  border:0;
  border-radius: 14px 0 0 14px;
}


.input-navbar {
  background-color: white;
  border-color: white;
}

.input2-navbar {
  background-color: white;
  padding: 11px;
  border-radius: 0 14px 14px 0;
}

.navbar2-colors {
  background-color: #C4D7E0;
    border-radius: 12px 12px 12px 12px;
}


.button-colors-2 {
  background-color: #6E85B7;
    border-radius: 19px;
}

.border-text {
  border-radius: 19px;
}

.border-img {
  border-radius: 19px;
}

.card-book {
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
}

.card-review {
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
}

.margin-txt {
  margin-bottom: 30px;
}
