<%= render "shared/nav_search" %>

<div class="container">
  <h1>Welcome!</h1>
  <h3>You are reading <%= @book.title %> </h3>
  <div class="row">
    <p>How many pages have you read so far?</p>
    <p>87</p>
    
    <p>Here is your Book List:</p>
      <%= current_user.list %>
  </div>
</div>
<div class="container">
  <h3>Check out who else is reading.....</h3>

</div>
