<div class="navbar" style="background-color: #e3f2fd; padding:unset">
  <div class="container-fluid justify-content-center navbar-color">
  <a class="navbar-brand" href="#"></a>
    <%= form_with url: books_path, method: :get, class: "d-flex" do %>
      <%= button_tag type: 'submit', class: "button postfix search-navbar" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control input-navbar",
        placeholder: "I want to find..."
      %>
    <% end %>
    <i class="fa-solid fa-circle-xmark input2-navbar"></i>
  </div>
</div>
