<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar2-colors padding2">
        <a class="nav-link active" aria-current="page" href="#">Romance</a>
        <a class="nav-link active" aria-current="page" href="#">Novel</a>
        <a class="nav-link active" aria-current="page" href="#">History</a>
        <a class="nav-link active" aria-current="page" href="#">Wellness</a>
        <a class="nav-link active" aria-current="page" href="#">Fiction</a>
        <a class="nav-link active" aria-current="page" href="#">Learning</a>
        <a class="nav-link active" aria-current="page" href="#">Top Rated</a>
      </div>
    </div>
  </div>
</nav>
