<div class="back" style="background-color:#6E85B7">
  <div class="container">
    <div class="text">
      <h1> About Us </h1>

      <p> Booklub is the world’s largest website for readers and book recommendations.
      Our mission is to make reading accessible and to encourage people to read more by finding and share books they love .
      Here you can see what books your friends are reading and track the books you’re reading, have read, and want to read.
      Meet the creators..</p> Tais, Juan, Marck
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
</div>
