<div class="container-fluid body1">
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="container-card">
        <div class="container-text">
          <h1 class="text-center margin-txt" style="color:white">About us!</h1>
          <h5 class="text-center" style="color:white">Booklub is the world’s largest website for readers and book recommendations.</h5>
          <h5 style="color:white">Our mission is to make reading accessible and to encourage people to read more by finding and share books they love.</h5>
          <h5 style="color:white">Here you can have access to thousands of books, add your favorites ones to your personal list and keep track on the books you are reading. It’s fun and efficient!</h5>
          <h5 class="text-center" style="color:white">Made by Le Wagon students!</h5>
      </div>
    </div>
  </div>
    <div class="row justify-content-center row-margin">
      <div class="col-4 ">

       <div class="d-flex justify-content-center">
        <%= link_to "https://www.linkedin.com/in/tais-rizzo-553b9b14b/" do %>
          <div class="">
            <img class="img img1" src="https://res.cloudinary.com/dzptgersg/image/upload/v1662561797/Perfiles/tais_1_iiboaw.png"/>
          </div>
          <div class="name">Tais - Web Dev</div>
        <% end %>
       </div>
      </div>

      <div class="col-4 ">
       <div class="d-flex justify-content-center">
        <%= link_to "https://www.linkedin.com/in/juanbezanilla/" do %>
            <div class="">
              <img class="img img2" src="https://res.cloudinary.com/dzptgersg/image/upload/v1662561794/Perfiles/juan_1_tf89lo.png"/>
            </div>
            <div class="name">Juan - Web Dev</div>
        <% end %>
        </div>
      </div>

      <div class="col-4 ">


        <div class="d-flex justify-content-center">
          <%= link_to "https://www.linkedin.com/in/uumarck/" do %>
            <div class="">
              <img class="img img3" src="https://res.cloudinary.com/dzptgersg/image/upload/v1662561791/Perfiles/marck_1_crhfs9.png"/>
            </div>
            <div class="name">Marck - Web Dev</div>
          <% end %>
        </div>


      </div>
    </div>
</div>
