<head></head>
<h1>About us</h1>
<div class="person">
      <div class="container">
        <div class="container-inner">
          <img
            class="circle"
            src="https://res.cloudinary.com/dzptgersg/image/upload/v1662068907/Perfiles/logolwagon_nz9hml.png">
          <img
            class="img img1"
            src="https://res.cloudinary.com/dzptgersg/image/upload/v1662068701/Perfiles/picwish_jnx9jo.png"
            />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Tais</div>
      <div class="title">Web Developer</div>
    </div>
    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
            class="circle"
            src="https://res.cloudinary.com/dzptgersg/image/upload/v1662068907/Perfiles/logolwagon_nz9hml.png"
          >
          <img
            class="img img2"
            src="https://res.cloudinary.com/dzptgersg/image/upload/v1662068701/Perfiles/juann_1_1_sxyowu.png"
            />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Juan</div>
      <div class="title">Web Developer</div>
    </div>
    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
            class="circle"
            src="https://res.cloudinary.com/dzptgersg/image/upload/v1662068907/Perfiles/logolwagon_nz9hml.png"
            >
          <img
            class="img img3"
            src="https://res.cloudinary.com/dzptgersg/image/upload/v1662068700/Perfiles/marckk_yv9wyg.png"
            />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">Marck</div>
      <div class="title">Web Developer</div>
    </div>
