<div class= contacto>
  <div class= titulo>
    <h1>Talk with us!</h1>
  </div>
  <form class="cf">
    <div class="media izq cf">
      <input type="text" id="input-name" placeholder="Name">
      <input type="email" id="input-email" placeholder="Email address">
      <input type="text" id="input-subject" placeholder="Subject">
    </div>
    <div class="media der cf">
      <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
    </div>
    <div>
      <input type="submit" value="Submit" class="llenar" id="input-submit">
    </div>
  </form>
</div>
