<%# banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),">
  <div class="container">
    <h1>A new way of find your book and connecting with readers!</h1>
    <p>Create your lists and share your short stories.</p>
    <%= link_to "Apply now", new_user_registration_path, class:"btn btn-flat" %>
  </div>
</div>

<%# Cards2 %>
<section class="cards-wrapper">
  <div class ="home-cards-crid">
    <div class="card-grid-space">
      <div class="num"></div>



      <%= link_to books_path, class: "home-link" do %>
        <div class="card2"  style="--bg-img: url(https://images.unsplash.com/photo-1615677679660-b923aed9b88e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
          <div>
            <h1>Books</h1>
            <p>Watch all our book selection</p>
            <div class="tags"></div>
          </div>
        </div>
      <% end  %>
    </div>


    <div class="card-grid-space">
      <div class="num"></div>
        <div class="ciclo">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058270/Captura_de_Pantalla_2022-09-01_a_la_s_14.09.26_tpwuo9.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058270/Captura_de_Pantalla_2022-09-01_a_la_s_14.10.38_aqkaaw.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058270/Captura_de_Pantalla_2022-09-01_a_la_s_14.09.51_fu94y8.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058270/Captura_de_Pantalla_2022-09-01_a_la_s_14.08.52_tkg8gq.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058270/Captura_de_Pantalla_2022-09-01_a_la_s_14.10.12_nh2wv1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058270/Captura_de_Pantalla_2022-09-01_a_la_s_14.08.29_ut9jcr.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058269/Captura_de_Pantalla_2022-09-01_a_la_s_14.10.21_jqfdr0.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058269/Captura_de_Pantalla_2022-09-01_a_la_s_14.10.02_y45wyq.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058269/Captura_de_Pantalla_2022-09-01_a_la_s_14.10.50_w6jpmx.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/dzptgersg/image/upload/v1662058269/Captura_de_Pantalla_2022-09-01_a_la_s_14.09.13_dvfkim.png" class="d-block w-100" alt="...">
              </div>


            </div>
          </div>
        </div>

    </div>
  </div>

  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>



<%# Card %>

<div class= all>
  <div class= category>
    <h1 class= nameC> Fiction </h1>
  </div>
  <main class="page-content">

    <div class="card3">
      <div class="content">
        <h2 class="title">Harry Potter and the Deatly Hallows</h2>
        <p class="copy">Check out all of this amazing novel of the series created by author J.K Rowling.</p>
        <button class="btn">View Book</button>
      </div>
    </div>
    <div class="card3">
      <div class="content">
        <h2 class="title">The Chronicles of Narnia</h2>
        <p class="copy">This amazing C.S Lewis fantasy will take you to a completely different unknown place.</p>
        <button class="btn">View Book</button>
      </div>
    </div>
    <div class="card3">
      <div class="content">
        <h2 class="title">The Hobbit</h2>
        <p class="copy">If Lord of the Rings wasn't enough for you, J.R.R Tolkien gives us another wonderful story.</p>
        <button class="btn">View Book</button>
      </div>
    </div>
    <div class="card3">
      <div class="content">
        <h2 class="title">Eragon</h2>
        <p class="copy">Bayard Jeunesse take fantasy to the limit with the adventures of this young man</p>
        <button class="btn">View Book</button>
      </div>
    </div>
  </main>
</div>
