<h1>Books</h1>

<div class="cards-index">
  <img src="" alt="Avatar" style="width:100%">
  <div class="container">
      <% @books.each do |book| %>
        <%= link_to book_path(book) do %>
        <h4><b><%= book.title %></b></h4>
    <p><%= book.author %></p>
        <% end %>
      <% end %>

  </div>
</div>
