.index-title {
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #6E85B7;
}

h2, p {
  font-family: 'PT Sans', sans-serif;
}
.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product img {
  height: 96%;
  width: 120px;
  object-fit: cover;
  margin-left: 3px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.container-index {
  align-content: center;
  margin: 50px;
}
