.bg-review {

  display: flex;
  align-items: center;
  justify-content: center;

}
.box-rev {
  background-color: #7290C0;
  justify-content: center;
  height: auto;
  width: 626px;
  border-radius: 8px;
  justify-content: center;
  padding: 20px;
  margin: 100px 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banana {
  color: white;
}
