<div class="container">
  <div class="bg-review">
    <div class="box-rev">
        <h2 style="color: white; align-items: center;">Review</h2>
        <%= simple_form_for [@book, @review] do |f| %>
        <div class="banana">
          <p><%= f.input :comment, label: "Comment"%></p>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate the book",
          input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit "Done!", class:"btn button-colors-2", style:"background-color: black;"%>
          <% end %>
        </div>
    </div>
  </div>
</div>
